.introWrapper {
  position: relative;
  width: 164px;
  height: 160px;

  .animatedHello {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;

    height: 21px;
    width: 46px;

    left: 61px;
    top: 70px;

    position: absolute;
    text-align: center;
    text-decoration: none;

    transition: transform 0.5s, font-weight 0.1s, font-size 0.5s, border 0.1s;
    transition-timing-function: ease;
    will-change: transform, font-weight, font-size, border;
  }
  .introBlock {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;

    color: white;
    position: absolute;
    top: -90px;
    left: -50px;
    width: max-content;
    line-height: 2rem;
  }
  .animatedIntro {
    transition: opacity 2.6s ease-in;
    will-change: opacity;

    &#firstInList {
      margin-top: 1rem;
    }

    &#lastInList {
      margin-top: 2rem;
    }
    .coloredIntroText {
      font-weight: bold;
      color: #f84c31;
    }

    &#myname {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 300;

      color: white;
      position: absolute;
      top: -138px;
      left: 10px;
      width: 220px;
    }
    a {
      will-change: opacity, background-color;

      transition-property: background-color;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
    }
    a:hover {
      background-color: #444;
      cursor: pointer;
    }
    a:active {
      opacity: 0.8;
      background-color: #333;
      transition: background-color 0.1s;
    }
  }
  .animatedIntroRight {
    transition: opacity 2.6s ease-in;
    will-change: opacity;
    text-align: left;
  }
  .links {
    transition: opacity 2.6s ease-in;
    will-change: opacity;
    margin-top: 12px;
    .link {
      margin-right: 12px;
    }
  }
}
