.logoWrapper {
  display: flex;
  position: relative;

  .logo {
    width: 73px;
    height: 152px;
    filter: grayscale(60%);
    margin: 4px;
    opacity: 0.5;
    user-select: none;
    will-change: transform, opacity, filter;

    &:hover {
      cursor: pointer;
      filter: grayscale(20%);
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
  .hiddenLink {
    background: transparent;
    border: none;

    width: 46px;
    height: 21px;
    text-align: center;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    text-decoration: none;
    left: 60px;
    top: 70px;
    border-bottom: 1px solid white;

    transition-property: opacity border-bottom;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;

    will-change: color, opacity, border-bottom;

    &:hover {
      color: #d6d6d6;
      outline: none;
      background-color: #444;
      cursor: pointer;
    }
    &:focus {
      outline: none;
      color: #d6d6d6;
      outline: none;
      background-color: #444;
    }
    &:active {
      color: #888;
      background-color: #333;
      border-bottom: 1px solid #888;
      transition: background-color 0.1s, border-bottom 0.1s;
    }
  }
}
